body{
	background-image: url("https://is1-ssl.mzstatic.com/image/thumb/Purple118/v4/e9/2e/52/e92e52f7-dd9c-334f-929d-e2ee87cf8b06/pr_source.png/392x696bb.png");
    background-position: center;
    background-size: cover;
}

